.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
}

.main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.left,
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right {
    text-align: center;
}

.title {
    font-size: 2.5rem;
}

.description {
    margin: 1rem 0;
}

.button {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 80%;
    /* 버튼의 너비를 동일하게 설정 */
    max-width: 300px;
    /* 최대 너비를 설정 */
}

.googleButton {
    background-color: #fff;
    color: #000;
}

.appleButton {
    color: #000;
    border: 1px solid #fff;
}

.createAccountButton {
    background-color: #1da1f2;
    color: #fff;
}

.loginButton {
    background: none;
    color: #1da1f2;
    border: 1px solid #fff;
}

.or {
    margin: 1rem 0;
    color: #888;
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 300px;
}

.or::before,
.or::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #888;
    margin: 0 0.5rem;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0;
    border-top: 1px solid #333;
}

.footer a {
    margin: 0 0.5rem;
    color: #1da1f2;
    text-decoration: none;
    font-size: 0.875rem;
}

.footer span {
    margin-top: 0.5rem;
    font-size: 0.875rem;
}

.agreement {
    font-size: 0.75rem;
    color: #aaa;
    margin-top: 1rem;
    width: 80%;
    max-width: 300px;
}

.agreement a {
    color: #1da1f2;
    text-decoration: none;
}